/* import poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6a0202;
}

.container{
    position: relative;
    width: 500px;
    height: 600px;
    background: #242222;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    border: 4px solid black;
}

.display{
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 30px;
    top: 0;
    left: 0;
    width: 90%;
    height: 6rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 25px 30px;
    box-sizing: border-box;
    background-color:   #544e4e;
    /* add shadow */
    box-shadow: inset 0 0 2px #000000;
    font-size: 30px;
    text-align: right;
    color: antiquewhite;
}

.functions{
    position: absolute;
    top: 20%;
    width: 30rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px 30px;
}

.functions>button{
    background-color: #544e4e;
    color: white;
    font-family: 'poppins', sans-serif;
    padding: auto;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.functions>button:hover{
    /* key move up */
    transform: translateY(-5px);
    background-color: #bdbdbd;
    color: black;

}
.functions>button:active{
    /* key move down */
    transform: translateY(5px);
    color: black;
}

.equal{
    grid-column: 3 / 5;
    border-radius: 2.5rem;

}
